:root {
  --main-color: #69A410; 
  --Accent-color: #026A2F; 
  --text-color: #1B2D23; 
  --Background-color: #EAF1D9; 
  --white: #fff; 
  --Red: #B81E2B; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif; 
}

body {
    background: var(--white);
    color: var(--text-color);
}

.top-bar {
    background: var(--Accent-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
}

.top-bar span {
    margin-right: 15px;
}

.fa {
  font-size: 70px;
  width: 20px;
  text-align: right;
  text-decoration: none;
  color: var(--main-color);
}

.fa:hover {
  opacity: 0.7;
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 260px;
    margin-bottom: 15px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav a {
    background: var(--main-color);
    color: var(--white);
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s ease;
}

.nav a:hover {
    background: var(--Accent-color);
}

.content {
    max-width: 90%;
    margin: 30px auto;
    background: var(--Background-color);
    padding: 25px;
    border-radius: 20px;
}

.content h1 {
    text-align: center;
    padding: 5px;
}

.content a {
    text-decoration: none;
    color: #1B2D23;
    text-align: center;
}

.content a:hover {
    color: #69A410;
}

.hero img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 10px;
    max-width: 70%;
    max-height: 6em;
}

.thumbnails img {
    width: 18%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.thumbnails img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.info-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}


.about h2 {
    color: var(--Red);
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.countries {
    columns: 3;
    margin-bottom: 20px;
}

.countries li {
    list-style: none;
    font-size: 14px;
}

.description h3 {
    color: var(--Accent-color);
    margin-bottom: 10px;
}

.departments li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 4px;
}

.location iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.location address {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
}

.hours {
    font-size: 14px;
}

.open {
    font-weight: bold;
}

footer {
    height: 100px;
    background-color: var(--Accent-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
}